body{
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}
img.alta {
    float: left;
    height: 420px;
    width: 300px;
}

h1 {
    border-bottom-style: inset;
}

.italico {
    font-style: italic;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}